{
  "plugins": [
    "react",
    "react-hooks",
    "prettier",
    "flowtype"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "globals": {
    "console": true,
    "document": true,
    "fetch": true,
    "Promise": true,
    "window": true,
    "localStorage": true,
    "Symbol": true
  },
  "rules": {
    "no-var": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/prop-types": 2,
    "prettier/prettier": "error",
    "react/no-multi-comp": 1
  }
}
