{
  "plugins": [
    "prettier"
  ],
  "extends": ["eslint:recommended"],
  "parser": "babel-eslint",
  "globals": {
    "console": true,
    "require": true,
    "process": true,
    "module": true,
    "exports": true,
    "Buffer": true,
    "beforeEach": true,
    "beforeAll": true,
    "afterEach": true,
    "afterAll": true,
    "describe": true,
    "it": true,
    "expect": true,
    "Promise": true,
    "jest": true
  },
  "rules": {
    "no-var": "error",
    "prettier/prettier": "error"
  }
}
